/* Основные цвета

    цвет заголовка страницы     #FFFFFF
    
    цвет текста заголовков      #212121
    цвет текста основной        #757575

    цвет текста ссылки          #212121
    цвет текста ссылки в фокусе #2196F3

    цвет фона заголовка         #FFFFFF
    цвет фона страницы          #E5E5E5
    цвет фона на заголовке      #2F303A

    цвет 1-й части лого         #2196F3
    цвет 2-й части лого         #000000

    цвет фона кнопки            #2196F3
    цвет текста кнопки          #FFFFFF

    цвет подвала адрес          #FFFFFF
    цвет подвала e-mail, phone  rgba(255, 255, 255, 0.6)
    цвет фона подвала           #2F303A
*/

/* Класс для оформления основной страницы */
.page {
	background-color: #ffffff;
	color: #757575;
}

/* Класс для обнуления атрибутов списка */
.list {
	list-style: none;
}

/* Класс для оформления лого сайта */
.logo {
	color: #2196f3;
}

/* Класс для оформления правой части лого сайта */
.logo-right {
	color: #000000;
}

/* Стилизация навигации сайта */
.site-nav {
	color: #212121;
}

/* Стилизация контактов сайта */
.site-contacts {
	color: #757575;
}
