/* Основные цвета макета

    цвет заголовка страницы     #FFFFFF
    
    цвет текста заголовков      #212121
    цвет текста основной        #757575

    цвет текста ссылки          #212121
    цвет текста ссылки в фокусе #2196F3

    цвет фона заголовка         #FFFFFF
    цвет фона страницы          #E5E5E5
    цвет фона на заголовке      #2F303A

    цвет 1-й части лого         #2196F3
    цвет 2-й части лого         #000000

    цвет фона кнопки            #2196F3
    цвет текста кнопки          #FFFFFF

    цвет подвала адрес          #FFFFFF
    цвет подвала e-mail, phone  rgba(255, 255, 255, 0.6)
    цвет фона подвала           #2F303A
*/

/* Блок css-переменных */
:root {
	--main-text-color: #757575;
	--title-text-color: #212121;
	--accent-color: #2196f3;
	--primary-bg-color: #ffffff;
	--top-section-bg-color: #2f303a;
	--team-section-bg-color: #f5f4fa;
	--footer-bg-color: #2f303a;
	--footer-text-color: rgba(255, 255, 255, 0.6);
	--logo-right-color: #000000;
	--logo-bottom-right-color: #ffffff;
	--primary-button-text-color: #ffffff;
	--primary-button-bg-color: #2196f3;
	--button-text-color: #212121;
	--button-bg-color: #f5f4fa;
}
/* Класс для оформления основной страницы */
.page {
	background-color: var(--primary-bg-color);
	color: var(--main-text-color);
}

/* Класс для обнуления атрибутов списка */
.list {
	list-style: none;
}

/* Классы для оформления лого сайта */
.logo {
	color: var(--accent-color);
}

.logo-right {
	color: var(--logo-right-color);
}

.logo-bottom {
	color: var(--logo-bottom-right-color);
}

/* Стилизация навигации сайта */
.site-nav .link {
	color: var(--title-text-color);
}

.site-nav .link.current {
	color: var(--accent-color);
}

/* Стилизация контактов сайта */
.site-contacts .link {
	color: var(--main-text-color);
}

/* Стилизация ссылок для состояний hover, focus */
.site-nav .link:hover,
.site-nav .link:focus,
.site-contacts .link:hover,
.site-contacts .link:focus {
	color: var(--accent-color);
}

/* Класс для оформления заголовков разделов */
.section-title {
	color: var(--title-text-color);
}

/* Классы для оформления раздела Особенности */
.features .title {
	color: var(--title-text-color);
}

.features .text {
	color: var(--main-text-color);
}

/* Классы для оформления информации о сотрудниках */
.employee .title {
	color: var(--title-text-color);
}

.employee .position {
	color: var(--main-text-color);
}

/* Классы для оформления информации о проектах */
.projects .title {
	color: var(--title-text-color);
}

.projects .category {
	color: var(--main-text-color);
}

/* Классы для оформления кнопок */
.button {
	color: var(--button-text-color);
	background-color: var(--button-bg-color);
	border-style: none;
}

.button.primary {
	color: var(--primary-button-text-color);
	background-color: var(--primary-button-bg-color);
}

.button:hover,
.button:focus {
	color: var(--primary-button-text-color);
	background-color: var(--primary-button-bg-color);
}

/*  */
